body{
	background-color: #6D214F;

}
.navbar{
	height: 1000px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(https://stmed.net/sites/default/files/abstract-wallpapers-25162-7096746.jpg);
	background-repeat: no-repeat;


}
.display{
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1000px;
}


 footer {
 	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #FDA7DF;
    text-align: center;
 }